.l-histories {
    margin: 0 1.5rem 0.5rem 1.5rem;
}

.l-histories-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.l-histories-list li {
    position: relative;
    margin-bottom: 1.5rem;
}

/* === Card Style === */
.l-histories-list-card-container {
    position: relative;
}

.l-histories-list-card {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: var(--popup-card-height);
    width: var(--popup-card-width);
    border-color: transparent;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
}

.l-histories-list-card:hover {
    cursor: pointer;
}

.l-histories-list-card-shadow {
    position: absolute;
    content: '';
    padding: 0;
    top: 0;
    left: 0;
    height: 190px;
    width: var(--popup-card-width);
    background-color: #060606;
    opacity: .15;
    transform: scale(0.93) translateY(0.7rem) translateZ(-1rem);
    filter: blur(1rem);
    z-index: -1;
    transition: all 150ms 0s ease;;
}

.l-histories-list-card-container:hover .l-histories-list-card-shadow,
.l-histories-list-card-container:focus .l-histories-list-card-shadow {
    transform: scale(1) translateY(0.7rem) translateZ(-1rem);
}

/* Card Left Style */
.l-histories-list-card-left {
    width: 15%;
    margin: 1rem 1rem 1rem 1.25rem;
}

.l-histories-list-img-container {

}

.l-histories-list-img-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Card Right Style */
.l-histories-list-card-right {
    width: 85%;
}

.l-histories-list-card-right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.l-histories-list-card-right-top {
    height: 70%;
    margin: 1.15rem 1.6rem 0 0;
}

.l-histories-list-card-right-top-title h2 {
    font-size: .9rem;
    font-family: "Noto Sans CJK JP Light", sans-serif;
    color: var(--popup-card-title-color);
}

.l-histories-list-card-right-top-title h2 span {
    margin-right: 1px;
    font-family: "Noto Sans CJK JP Bold", sans-serif;
}

.l-histories-list-card-right-top-body {
    margin: 0.7rem 0;
}

.l-histories-list-card-right-top-body p {
    margin: 0;
    font-size: 0.75rem;
    font-family: "Noto Sans CJK JP Regular", sans-serif;
    color: var(--popup-card-body-color);
    letter-spacing: .08rem;
}

.l-histories-list-card-right-bottom {
    height: 30%;
    border-top: 2px solid var(--popup-card-separate-border-color);
}

.l-histories-list-card-right-bottom-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.l-histories-list-card-right-bottom-left {
    margin: .7rem 0;
    width: 50%;
}

.l-histories-list-card-right-bottom-left-tag {
    position: relative;
    display: inline-block;
    padding: .2rem .7rem .3rem 1.9rem;
    font-size: .8rem;
    font-family: "Noto Sans CJK JP Medium", sans-serif;
    color: var(--popup-card-tag-color);
    letter-spacing: .03rem;
    border: 2px solid var(--popup-card-tag-border-color);
    border-radius: 5px;
}

.l-histories-list-card-right-bottom-left-tag::before {
    position: absolute;
    content: "";
    top: .5rem;
    left: .75rem;
    width: .7rem;
    height: .7rem;
    border: .15rem solid var(--popup-card-tag-circle-color);
    border-radius: 50%;
}

.l-histories-list-card-right-bottom-right {
    margin: .7rem 0;
    width: 50%;
}

.l-histories-list-card-right-bottom-right-time {
    position: relative;
    margin: .35rem 0 0 2.25rem;
    font-size: .8rem;
    font-family: "Noto Sans CJK JP Regular", sans-serif;
    letter-spacing: .05rem;
    color: var(--popup-card-time-color);
}

.l-histories-list-card-right-bottom-right-time::before {
    position: absolute;
    top: .15rem;
    left: -1.5rem;
    content: "";
    height: 1rem;
    width: 1rem;
    background: url("../images/popup/clock.svg") no-repeat;
    background-size: cover;
}

.l-histories-list-card-option-menu {
    position: absolute;
    bottom: 1.46rem;
    right: 1.5rem;
    height: 1rem;
    width: 1rem;
    background: url("../images/popup/menu.svg") no-repeat;
    background-size: cover;
    border: none;
    opacity: 0;
    transition: all 150ms 0s ease;
}

.l-histories-list-card-container:hover .l-histories-list-card-option-menu,
.l-histories-list-card:focus ~ .l-histories-list-card-option-menu,
.l-histories-list-card-option-menu:focus {
    opacity: 1;
}

.l-histories-list-card-option-menu:focus {
    outline: 5px auto -webkit-focus-ring-color;
    transition: none;
}

.l-histories-list-card-option-menu:hover {
    cursor: pointer;
    transition: none;
}