:root {
    /* ======= global ======= */

    /* ======= popup ======= */
    /* Chrome extension popups have a maximum height of 600px and maximum width of 800px. */
    --popup-body-height: 600px;
    --popup-body-width: 420px;
    --popup-body-background-color: #FCFCFD;

    /* popup-card */
    --popup-card-height: 185px;
    --popup-card-width: 100%;
    --popup-card-title-color: #3A4C50;
    --popup-card-body-color: #74757B;
    --popup-card-separate-border-color: #F4F8F8;
    --popup-card-tag-color: #74757B;
    --popup-card-tag-border-color: #EFF3F3;
    --popup-card-tag-circle-color: #AEDCEA;
    --popup-card-time-color: #74757B;
}