section.l-histories-empty-container
  div.l-histories-empty-svg(aria-label="アクティビティが存在しないことを表す画像")
    include ../images/popup/empty-message.svg
  div.l-histories-empty-message
    h2 まだアクティビティが存在しません！
    p kintoneで何か書き込んでみてはいかがでしょうか？
