div#oceanMaimodorun.goog-inline-block.goog-toolbar-button.ocean-ui-editor-toolbar-maimodorun(title="保存内容を復元する", role="button")
  div.goog-inline-block.goog-toolbar-button-outer-box
    div.goog-inline-block.goog-toolbar-button-inner-box.goog-toolbar-button-inner-box-maimodorun
      div.ocean-ui-editor-toolbar-maimodorun-button
        img.maimodorun-button-img(src=iconImgSrc)