/* Roboto Fonts */
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/roboto/Roboto-Black.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}