block js
  script(src="../vendors/jquery-3.2.1.min.js")
  script(src="../vendors/moment-with-locales.min.js")
  script(src="../js/templates/histories.min.js")
  script(src="../js/templates/histories_empty.min.js")
  script(src="../js/popup.min.js")